### Excluding PDF files produced by LaTeX
*.pdf

### Excluding the output of the LaTeX build process
*.aux
*.log
*.out
*.toc
*.synctex.gz

### Excluding eventual temporary files produced by VIM
*~
*.swp